.idea/
.vscode/
node_modules/
build/
temp/
.env
coverage
ormconfig.json
dist
logs/

# não atualiza o diretorio uploads mas mantém a estrutura de pastas
uploads/*
!uploads/.gitkeep
ecosystem.config.js
